/* App.css */

/* Font Face */
@font-face {
  font-family: 'Colchester';
  src: url('/src/fonts/Colchester.ttf') format('truetype');
}

/* Global Styles */
body, html, #root, .App {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Colchester', Arial, sans-serif; /* Default font for body */
  overflow: hidden; /* Hide both vertical and horizontal scrollbars */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative; /* Ensure relative positioning for child elements */
  overflow: hidden;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensure it's above other content */
  height: 100px; /* Adjust this value based on your navbar height */
  margin-bottom: 100px;
}

.logo {
  width: 80%; /* Make logo responsive */
  max-width: 400px;
  height: auto;
  margin-top: 10px; /* Adjust this value to position the logo below the navbar */
  position: relative; /* Keep it within the document flow */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%; /* Ensure content takes up full width */
  max-width: 100%; /* Ensure content doesn't exceed viewport width */
  padding: 60px 0 60px; /* Adjust this value based on your navbar height */
  box-sizing: border-box; /* Ensure padding is included in width */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.content-block {
  max-width: 1100px; /* Adjust as needed for your layout */
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  font-size: 2rem;
  font-family: sans-serif;
  text-align: justify; /* Default alignment */
}

.home-pic {
  margin-top: 0px; /* Adjust top margin if needed */
  width: 100%;
  max-width: 100%; /* Ensure images are responsive */
  height: auto;
}

.dance-pic {
  margin-top: 20px; /* Adjust top margin if needed */
  width: 100%;
  max-width: 100%; /* Ensure images are responsive */
  height: auto;
}

.text-container {
  text-align: center; /* Center text elements horizontally */
}

.big-text-white {
  font-size: 8rem; /* Adjust the font sizes as needed */
  margin-top: 0; /* Adjust the spacing between elements */
  text-align: center;
  font-family: 'Colchester', Arial, sans-serif; /* Apply the same font */
}

.day-text-white {
  font-size: 8rem; /* Adjust the font sizes as needed */
  margin-bottom: 30px; /* Adjust the spacing between elements */
  text-align: center;
  font-family: 'Colchester', Arial, sans-serif; /* Apply the same font */
}

.big-text-red {
  color: red;
  font-size: 8rem; /* Adjust the font size as needed */
  margin-top: 40px; /* Adjust the spacing between elements */
  text-align: center;
  font-family: 'Colchester', Arial, sans-serif; /* Apply the same font */
}

.middle-text-grey {
  color: grey;
  font-size: 6rem; /* Adjust the font size as needed */
  margin-top: 0; /* Adjust the spacing between elements */
  text-align: center;
  font-family: 'Colchester', Arial, sans-serif; /* Apply the same font */
}

.middle-text-white {
  color: white;
  font-size: 4rem; /* Adjust the font size as needed */
  margin-top: 0; /* Adjust the spacing between elements */
  text-align: center;
  font-family: 'Colchester', Arial, sans-serif; /* Apply the same font */
}

.middle-text-red {
  color: red;
  font-size: 4rem; /* Adjust the font size as needed */
  margin-top: 40px; /* Adjust the spacing between elements */
  font-family: 'Colchester', Arial, sans-serif; /* Apply the same font */
  text-align: center;
}

/* Override scrollbar styles to hide them */
/* For WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

/* For Firefox */
* {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.festival-info {
  padding: 20px;
  color: white;
  line-height: 1.5;
}

.festival-info h2 {
  color: red;
  margin-top: 20px;
}

.festival-info p,
.festival-info ul {
  margin-bottom: 10px;
}

.festival-info ul {
  list-style-type: disc;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .big-text-white,
  .day-text-white,
  .big-text-red,
  .middle-text-grey,
  .middle-text-white,
  .middle-text-red {
    font-size: 2.5rem; /* Reduce font sizes for smaller screens */
  }

  .logo {
    width: 100%; /* Make logo responsive */
    max-width: 300px; /* Limit max width on smaller screens */
    margin-top: 20px; /* Reduce top margin for logo on mobile */
  }

  .navbar {
    height: 60px; /* Adjust navbar height for smaller screens */
  }

  .content-block {
    font-size: 1.4rem; /* Slightly reduce base font size for better readability */
    text-align: left; /* Change text alignment for mobile */
    margin-bottom: 60px; /* Ensure space at the bottom of the content */
    margin-top: 10px;
  }

  .content {
    padding-bottom: 60px; /* Ensure space at the bottom of the content */
  }
}
