/* App.css */
@import url('./fonts.css'); /* Import the fonts.css file */

body, html, #root, .App {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Colchester', Arial, sans-serif; /* Default font for body */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Ensure content starts from the top */
  margin-top: 10px; /* Adjust top margin if needed */
  flex-grow: 1;
}

.logo {
  margin-top: 5px;
  width: 400px;
  height: auto;
}

.home-pic {
  margin-top: 5px;
  width: 800px;
  height: auto;
}

.big-text-white {
  color: #fff;
  font-size: 5rem; /* Adjust the font size as needed */
  margin-top: 20px; /* Adjust the spacing between the logo and text */
  text-align: center;
  font-family: 'Colchester', Arial, sans-serif; /* Apply the same font */
}

.big-text-red {
  color: red;
  font-size: 5rem; /* Adjust the font size as needed */
  margin-top: 20px; /* Adjust the spacing between the logo and text */
  text-align: center;
  font-family: 'Colchester', Arial, sans-serif; /* Apply the same font */
}

.middle-text-grey {
  color: grey;
  font-size: 4rem; /* Adjust the font size as needed */
  margin-top: 20px; /* Adjust the spacing between the logo and text */
  text-align: center;
  font-family: 'Colchester', Arial, sans-serif; /* Apply the same font */
}

/* Additional global styles can be placed here */
