/* CarouselBanner.css */

/* Specific carousel styles */
.carousel-item img {
    object-fit: cover;
    height: 400px;
  }
  
  @media (max-width: 768px) {
    .carousel-item img {
      height: 250px;
    }
  }
  