/* Home.css */

.home {
  text-align: center;
}

.home h1 {
  font-size: 2.5rem;
  margin: 10px 0; /* Minimal margin */
  font-family: 'HelmswaldPost', Arial, sans-serif; /* Use the custom font for h1 */
}
