.navbar {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-bottom: 10px; /* Small bottom margin */
  display: flex; /* Ensure navbar content is flexbox */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.navbar-brand {
  color: #f00; /* Red color for links */
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease; /* Smooth transition for color change */
  position: absolute; /* Position the brand absolutely */
  left: 20px; /* Adjust as needed to align with padding */
}

.navbar-brand:hover {
  color: #fff; /* White text when hovered */
}

.navbar-nav {
  display: flex; /* Ensure navbar links are flexbox */
  align-items: center; /* Align items vertically in the navbar */
}

.navbar-nav .nav-item {
  margin-left: 10px; /* Adjust spacing between nav items */
}

.navbar-nav .nav-item .nav-link {
  color: #f00; /* Red color for links */
  text-decoration: none;
  font-size: 4rem; /* Keep the font size as specified */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #fff; /* White text when hovered */
}
