/* Navbar.css */
.navbar {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  margin-top: 40px;
  margin-bottom: 40px; /* Small bottom margin */
  display: flex; /* Ensure navbar content is flexbox */
  justify-content: space-between; /* Distribute space evenly */
  align-items: center; /* Center the content vertically */
}

.navbar-brand {
  color: #f00; /* Red color for links */
  text-decoration: none;
  font-size: 6rem; /* Base font size */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar-brand:hover {
  color: #fff; /* White text when hovered */
}

.navbar-nav {
  display: flex; /* Ensure navbar links are flexbox */
  align-items: center; /* Align items vertically in the navbar */
}

.navbar-nav .nav-item {
  margin-left: 10px; /* Adjust spacing between nav items */
}

.navbar-nav .nav-item .nav-link {
  color: #f00; /* Red color for links */
  text-decoration: none;
  font-size: 6rem; /* Base font size */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #fff; /* White text when hovered */
}

/* Hide the navbar and show the dropdown menu on smaller screens */
@media (max-width: 768px) {
  .navbar {
    display: none; /* Hide the navbar on smaller screens */
  }

  .dropdown-menu {
    display: block; /* Show the dropdown menu on smaller screens */
  }
}

/* Default style for the dropdown menu (hidden by default) */
.dropdown-menu {
  display: none; /* Hidden by default */
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  position: fixed;
  top: 60px; /* Adjust based on your needs */
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown-menu .nav-item {
  padding: 10px 20px; /* Adjust padding for dropdown items */
}

.dropdown-menu .nav-item .nav-link {
  color: #f00; /* Red color for links */
  text-decoration: none;
  font-size: 1.5rem; /* Adjust font size as needed */
}

.dropdown-menu .nav-item .nav-link:hover {
  color: #fff; /* White text when hovered */
}
